@page
@{
    ViewData["Title"] = "About";
}

<section class="jumbotron">
    <h1 class="display-4">ASP.NET Core Razor Pages Website</h1>
    <h2>by Dr Derek Peacock</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        This example website has been created as part of CO550 Web Applications
        module
    </p>
</section>
<main>
    <h2>Learning Outcomes</h2>
    <ol class="list-group lead">
        <li class="list-group-item">
            <strong>LO1: </strong>Display the ability to design and create
            consistent web forms and data-driven applications
        </li>
        <li class="list-group-item">
            <strong>LO2: </strong>Implement and deploy web applications that
            provide user-friendliness, scalability and flexibility
        </li>
        <li class="list-group-item">
            <strong>LO3: </strong>Build and implement database application
            components to solve a business problem
        </li>
    </ol>
</main>

