@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="jumbotron">
    <h1 class="display-4">ASP.NET Core Razor Pages Website</h1>
    <h2>by Dr Derek Peacock</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        This example website has been created as part of CO550 Web Applications
        module
    </p>
</section>
